.food-box {
  width: 200px;
  background-color: #4bca7a;
  margin: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-auto-rows: 1fr 0.2fr;
}

.food-details {
  margin-top: 0.5rem;
}

.food-picture > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
