* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 64.5%;
  box-sizing: inherit;
}

.header {
  color: white;
  background-color: black;
  height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
